<!-- admin_form begin -->
{{#award.added}}
<!-- Added a user successfully -->
<div class="alert alert-success">
  Award Added Successfully
</div>
{{/award.added}}

{{#award.updated}}
<!-- Updated a user successfully -->
<div class="alert alert-success">
  Award Updated Succssfully
</div>
{{/award.updated}}

{{#award.error}}
<!-- Something bad happened -->
<div class="alert alert-danger">
  {{award.error}}
</div>
{{/award.error}}

<div class="row">
<div class="col-lg-7">
<form role="form" method="POST" action="/create_award.php">
    {{#award.id}}<input type="hidden" name="id" value="{{award.id}}">{{/award.id}}
    <input type="hidden" name="granterId" value="{{user.id}}">
    <input type="hidden" name="action" value="{{#award.id}}doUpdate{{/award.id}}{{^award.id}}add{{/award.id}}">

    <div class="form-group">
      <label>Recipient First Name</label>
      <input class="form-control" name="recipientFirst" value="{{award.recipientFirst}}" required>
    </div>

    <div class="form-group">
      <label>Recipient Last Name</label>
      <input class="form-control" name="recipientLast" value="{{award.recipientLast}}" required>
    </div>

    <div class="form-group">
      <label>Recipient Email</label>
      <input class="form-control" name="recipientEmail" value="{{award.recipientEmail}}" required>
    </div>

    <div class="form-group">
      <label>Award Type</label>
      <select class="form-control" name="awardType" id="template">
        {{{award.awardType}}}
      </select>
    </div>

    <label>Grant Date</label>

    <div class="input-group date" data-provide="datepicker" data-date-autoclose="true">
      <input type="text" class="form-control" autoclose="true" name="grantDate" value="{{award.grantDate}}" required>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>

    {{>address_form}}

    <hr>
    <div class="form-group">

      <button type="submit" class="btn btn-default" >{{^award.id}}Create{{/award.id}}{{#award.id}}Update{{/award.id}} Award</button>
      {{#award.certURL}}<a class="btn btn-info" href="/view_award.php?view={{award.id}}" target="blank">View Award Details</a>{{/award.certURL}}
      {{#award.id}}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Delete Award</button>{{/award.id}}
    </div>


  {{^hasSignature}}
  <script>
    // Show this modal immediately if the user doesn't have a signature set.
    $(window).on('load',function(){
        $('#noSignatureModal').modal('show');
    });
    </script>
  {{/hasSignature}}
  <!-- Modal Confirmation Dialog -->
  <!-- from bootstrap documentation, here: http://getbootstrap.com/javascript/#modals -->
  <div class="modal fade" id="noSignatureModal" tabindex="-1" role="dialog" aria-labelledby="noSignatureModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmModalLabel">You must be new here!</h4>
        </div>
        <div class="modal-body">
          <h4>Before You Start: Add A Signature To Your Profile</h4>
          <p>It looks like you haven't set up a signature in your profile yet, so any award certificates you create will not be signed.</p>
          <a href="/update_profile.php">Add a signature to your profile</a>, or hit Close to continue creating an unsigned certificate.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<div class="col-lg-5">
	<img src="/cert_assets/outstanding.png" alt="template preview" height="550px" width="400px" id="cert-preview">
</div>
</div>

<hr>
<!-- Modal Confirmation Dialog -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        Award ID: {{award.id}}  Recipient: {{award.recipientFirst}} {{award.recipientLast}}  Grant Date: {{award.grantDate}}.<br>
        Press Delete to delete. Otherwise, click Cancel.<br>
      </div>
      <div class="modal-footer">
        <form role="form" method="POST" action="create_award.php">
          {{#award.id}}<input type="hidden" name="id" value="{{award.id}}">{{/award.id}}
          <input type="hidden" name="action" value="delete">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


<h2>Awards Granted By You</h2>

{{#pagination}}
  <div>
    Showing records {{currentOffsetStart}} - {{currentOffsetEnd}}
  </div>
  <nav aria-label="Award List">
    <ul class="pagination">
{{/pagination}}
{{#pagination.pageData}}
          {{#active}}
            <li class="active"><a href="{{pagination.pageLink}}"><span class="sr-only">(current)</span>
          {{/active}}
          {{^active}}
            <li class="{{pagination.pageData.disabled}}"><a href="{{pagination.pageLink}}?offset={{offset}}">
          {{/active}}

          {{label}}</a></li>

{{/pagination.pageData}}
{{#pagination}}
    </ul>
  </nav>
{{/pagination}}


  <table class="table table-hover">
      <thead>
          <tr>
              <th>&nbsp;</th>
              <th>#</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Grant Date</th>
          </tr>
      </thead>
      <tbody>
        {{#awards}}
          <tr>
              <th scope=row>
                <form role="form" method="POST" action="/create_award.php">
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden" name="action" value="update">
                  <button type="submit">Manage</button>
                </form>
              </th>
              <td>{{id}}</td>
              <td>{{recipientFirst}}</td>
              <td>{{recipientLast}}</td>
              <td>{{recipientEmail}}</td>
              <td>{{grantDate}}</td>
          </tr>
        {{/awards}}

        {{^awards}}
        <tr>
          <th scope=row>
            <td colspan=5> No awards found.  You should probably make some. </td>
          </th>
        </tr>
        {{/awards}}
      </tbody>
  </table>

  {{#pagination}}
  <nav aria-label="Award List">
      <ul class="pagination">
  {{/pagination}}
  {{#pagination.pageData}}
            {{#active}}
              <li class="active"><a href="{{pagination.pageLink}}"><span class="sr-only">(current)</span>
            {{/active}}
            {{^active}}
              <li class="{{pagination.pageData.disabled}}"><a href="{{pagination.pageLink}}?offset={{offset}}">
            {{/active}}

            {{label}}</a></li>

  {{/pagination.pageData}}
  {{#pagination}}
      </ul>
    </nav>
  {{/pagination}}

<!-- admin_form end -->
