<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<form role="form" method="POST" action="/client/create_award.php">
				<input type="hidden" name="action" value="createAward">

				<!-- Remove this when template select tag is working -->
				<input type="hidden" name="template" value="outstanding.png">

				<!-- Change this to logged in user once a client is able to log in -->
				<input type="hidden" name="currentUser" value="Default User">

				<div class="form-group">
					<label for="selectTemplates">Template</label>
					<select class="form-control" name="awardTemplates">
						<option value="outstanding">Outstanding</option>
						<option value="winner">Winner</option>
						<option value="congratulations">Congratulations</option>
					</select>
				</div>
				<div class="form-group">
					<label for="award-type">Award Type</label>
					<input type="text" name="award-type" class="form-control" placeholder="E.g., Employee Of The Month" maxlength="35">
					<small class="form-text text-muted">Enter text exactly as it should appear on the certificate</small>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" class="form-control">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" name="email" class="form-control">
				</div>
				<div role="form-group">
					<button type="submit" class="btn btn-default">Create Award</button>
				</div>
			</form>
			<div class="alert alert-success">
  				{{alert}}
			</div>
		</div>
		<div class="col-lg-6">
			<img src="{{image}}" class="float-left" alt="Template Preview" height="600" width="400">
		</div>
	</div>
</div>