<div>
<b>Award Recipient:</b> {{award.recipientFirst}} {{award.recipientLast}}<br>
<b>Emailed To:</b> {{award.recipientEmail}}<br>
<b>Award Granted:</b> {{award.grantDate}}<br>
<b>Granted By:</b> {{award.granter}}<br>

<a href="{{award.certURL}}" target="blank">View Certificate</a>
  
</div>
