
<h2>Awards</h2>
{{#pagination}}
  <div>
    Showing records {{currentOffsetStart}} - {{currentOffsetEnd}}
  </div>
  <nav aria-label="Award List">
    <ul class="pagination">
{{/pagination}}

{{#pagination.pageData}}
          {{#active}}
            <li class="active"><a href="{{pagination.pageLink}}"><span class="sr-only">(current)</span>
          {{/active}}
          {{^active}}
            <li class="{{pagination.pageData.disabled}}"><a href="{{pagination.pageLink}}?offset={{offset}}">
          {{/active}}

          {{label}}</a></li>

{{/pagination.pageData}}
{{#pagination}}
    </ul>
  </nav>
{{/pagination}}

  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Grant Date</th>
              <th>Granted By</th>
          </tr>
      </thead>
      <tbody>
        {{#awards}}
          <tr>
              <td><a href="view_award.php?view={{id}}">Details</a></td>
              <td>{{recipientFirst}}</td>
              <td>{{recipientLast}}</td>
              <td>{{recipientEmail}}</td>
              <td>{{grantDate}}</td>
              <td>{{granter}}</td>
          </tr>
        {{/awards}}

        {{^awards}}
        <tr>
          <th scope=row>
            <td colspan=6> No awards found.  You should probably make some. </td>
          </th>
        </tr>
        {{/awards}}
      </tbody>
  </table>

  {{#pagination}}
    <nav aria-label="Award List">
      <ul class="pagination">
  {{/pagination}}
  {{#pagination.pageData}}
          <li>
            <a href="view_award.php?offset={{offset}}">{{label}}</a>
          </li>
  {{/pagination.pageData}}
  {{#pagination}}
      </ul>
    </nav>
  {{/pagination}}
