<!-- admin_profile begin -->
{{#updated}}
<!-- Updated a user successfully -->
<div class="alert alert-success">
  Profile Updated Succssfully
</div>
{{/updated}}

{{#error}}
<!-- Something bad happened -->
<div class="alert alert-danger">
  {{error}}
</div>
{{/error}}

<form role="form" method="POST" action="/update_profile.php" enctype="multipart/form-data">
    {{#id}}<input type="hidden" name="id" value="{{id}}">{{/id}}
    <input type="hidden" name="MAX_FILE_SIZE" value="128000">
    <input type="hidden" name="action" value="update">

    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" name="firstName" value="{{firstName}}">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" name="lastName" value="{{lastName}}">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" value="{{email}}">
    </div>

    <div class="form-group">
      <label>Change Password</label>
      <input type="password" class="form-control" name="password" placeholder="password">
    </div>

    <div class="form-group">
      <label>Add Signature File</label>
      <input type="file" class="form-control" name="signatureFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>

    {{#signaturePath}}
    <div>
      <label>Current Signature</label>
      <img src="{{signaturePath}}">
    </div>
    {{/signaturePath}}

    <div class="form-group">
      <button type="submit" class="btn btn-default" >Update Profile</button>
    </div>
  </form>

<!-- admin_profile end -->
