{{#error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/error}}


<div class="container">
       <div class="row">
           <div class="col-md-4 col-md-offset-4">
               <div class="login-panel panel panel-primary">
                   <div class="panel-heading">
                       <h3 class="panel-title">Log In</h3>
                   </div>
                   <div class="panel-body">
                      <!-- TODO: Provide a mechanism to redirect the user back to the starting page -->
                       <form role="form" action="" method="post">
                         <input type="hidden" name="action" value="login">
                           <fieldset>
                               <div class="form-group">
                                   <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
                               </div>
                               <div class="form-group">
                                   <input class="form-control" placeholder="Password" name="password" type="password" value="">
                               </div>
                               <!-- Change this to a button or input when using this as a form -->
                               <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                           </fieldset>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
