<!-- page_bottom begin -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/vendor/components/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/benit/startbootstrap-sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/vendor/benit/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

<!-- Datepicker Javascript -->
<script src="/vendor/eternicode/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

</body>
<!-- page_bottom end -->
</html>
