<!-- forgot_password begin -->
{{^error}}
<div class="alert alert-success">
  <p>Awesome! Your password was updated successfully.  Give it a shot!</p>
</div>
{{/error}}

{{#error}}
  <div class="alert alert-danger">
  {{error}}
  </div>
{{/error}}

{{>login}}
