<!-- forgot_password begin -->
<p>
Forgot your password?  No problem.
</p>
<p>
Simply enter the email associated with your account, and we'll send you a reset
email.  Please be sure to look in your spam folder if it doesn't show up soon.
Follow the directions in the reset email, and you'll be back up and running in no time!
</p>

<form role="form" action="" method="post">
  <input type="hidden" name="action" value="reset">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Reset Password</button>
    </fieldset>
</form>
