<!--
If the user is logged in, user_info will be passed into the template, and this section will be populated.
Otheriwse, this section will not be displayed.
-->
{{#user_info}}
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> User Management<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="manage_admin.php">Manage Admins</a>
                </li>
                <li>
                    <a href="manage_user.php">Manage Users</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-signal fa-fw"></i>Reports<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="report_region.php">Awards By Region</a>
                </li>
                <li>
                    <a href="report_granter.php">Awards By Granter</a>
                </li>
                <li>
                    <a href="report_recipient.php">Awards By Recipient</a>
                </li>
                <li>
                    <a href="report_date.php">Awards By Date</a>
                </li>
            </ul>

        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
{{/user_info}}
