<h2>User Management</h1>
<ul class="list-unstyled">
  <li><a href="manage_admin.php">Manage Administrators</a></li>
  <li><a href="manage_user.php">Manage Users</a></li>
</ul>

<h2>Reports</h1>
<ul class="list-unstyled">
<li>
  <a href="report_region.php">Awards By Region</a>
</li>
<li>
  <a href="report_granter.php">Awards By Granter</a>
</li>
<li>
  <a href="report_recipient.php">Awards By Recipient</a>
</li>
<li>
</ul>
