<!-- forgot_password begin -->
{{#error}}
  <div class="alert alert-danger">
  {{error}}
  </div>
{{/error}}

<form role="form" action="" method="post">
  <input type="hidden" name="action" value="updatePassword">
  <input type="hidden" name="email" value="{{email}}">
  <input type="hidden" name="token" value="{{token}}">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="New Password" name="password" type="password" autofocus>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Reset Password</button>
    </fieldset>
</form>
