<!-- forgot_password begin -->
{{#error}}
<!-- Something bad happened -->
<div class="alert alert-danger">
  {{error}}
</div>
{{/error}}

{{^error}}
<div>
<p>
  Your password has been reset.  Please check your email for instructions.
</p>
</p>

</p>
</div>
{{/error}}
