<!-- forgot_password begin -->
{{#error}}
<!-- Something bad happened -->
<div class="alert alert-danger">
  {{error}}
</div>
{{/error}}

{{#resetLink}}
  <div class="alert alert-danger">
    <b>For Your Testing Convenience:</b>

    <div>
      <p>
        We're on shared hosting, and the IP of our webserver appears to be on one or
        more SMTP blacklists.
      </p>
    </div>

    <div>
      <p>
        While our code does send email, your email provider is likely to reject it.
      </p>
      <p>
        Here is the reset link included in the email that was sent: <br>
        <a href="{{resetLink}}">{{resetLink}}</a>
      </p>
    </div>
  </div>
{{/resetLink}}

{{^error}}
<div>
<p>
  Your password has been reset.  Please check your email for instructions.
</p>
</p>

</p>
</div>
{{/error}}
